@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

* {
  margin: 0px;
  box-sizing: inherit;
}

html {
  align-items: center;
  margin: auto;
  min-height: 100%;
  font-size: 21px;
  /* background-color: rgb(200, 214, 241); */
}

body {
  align-self: auto;
  min-height: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(203, 203, 203);
  box-sizing: border-box;
  align-items: center;
}

header {
  padding-top: 60px;
  background-size: cover;
}

header h1 {
  text-align: center;
  padding: 15px 0px 40px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 57px;
  font-weight: 100;
  /* color :rgb(18, 18, 18); */
  color: rgb(91, 0, 121);
}

header nav {
  background-color: white;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* text-align: center; */
  padding: 15px 15px;
  /* margin: 0px; */
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  border-top: 2px solid rgb(203, 203, 203);
  border-bottom: 2px solid rgb(203, 203, 203);
}

header nav ul li {
  margin: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(45, 0, 60);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: rgb(132, 41, 163);
  font-weight: 900;
}

main {
  margin: auto;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-top: 30px;
  font-family: 'Ibarra Real Nova', serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 35px;
  text-align: left;
  color: rgb(91, 0, 121);
  border-bottom: 2px solid rgb(203, 203, 203);
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 26px;
  color: rgb(91, 0, 121);
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(203, 203, 203);
  margin-bottom: 10px;
}

p {
  padding-bottom: 5px;
}

footer {
  padding: 50px 50px;
  background-color: rgb(91, 0, 121);
  color: white; 
  text-align: center;
}

#profile_pic {
  float: right;
  margin: 15px;
  width: 255px;
}

.paper {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.paper h4 {
  padding-bottom: 3px;
  /* border-b; */
}

.teaching li {
  margin-bottom: 5px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.bottom-margin-small {
  margin-bottom: 3px;
}

.purple {
  color:rgb(91, 0, 121);
}


@media screen and (max-width: 600px) {

  header h1 {
    font-size: 40px;
    padding: 0px 0px 10px 0px;
  }

  header nav ul {
    flex-direction: column;
    text-decoration-line: underline;
    padding: 10px 10px;
  }

  main {
    width: 90%;
    /* font-size: 120%; */
    padding: 10px;
  }

  h2 {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  #profile_pic {
    width: 180px;
  }


}



